*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--lightGrey: #f5f5fa;
	--mediumGrey: #d3d3d3;
	--darkerGrey: #606271;
	--green: #b2cec9;
	--white: #ffffff;
	--black: #000000;
	--softOrange: #fbf7f4;
	--accentOrange: #f8ebe6;
	--borderRadius: 0.3rem;
}

body {
	background: var(--softOrange);
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Coustard', serif;
}

.custom-shape-divider-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 77px;
}

.custom-shape-divider-top .shape-fill {
	fill: var(--accentOrange);
}
